@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.page-container {
  width: 100%;
  height: auto;
  background-color: #191919;
}

.header-section {
  width: 100%;
  height: auto;
  padding: 1.5rem 6.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px dotted #2b2b2b;
  position: fixed;
  background-color: #191919;
}

.left-container {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.left-container a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  row-gap: 0.25rem;
}

.Name {
  font-size: clamp(0.875rem, 1.2vw + 1rem, 1rem);
  font-weight: 500;
  color: #ffffff;
}

.myrole {
  font-size: clamp(0.75rem, 1vw, 1rem);
  font-weight: 300;
  color: #888888;
}

.right-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  column-gap: 1.25rem;
}

a {
  text-decoration: none;
  font-size: 0.938rem;
  font-weight: 300;
  color: #888888;
}

a:hover {
  color: #ff4400;
}

.primary-button {
  width: auto;
  height: 48px;
  padding: 0.625rem 1.5rem;
  background-color: #ff4400;
  border: none;
  border-radius: 4rem;
  font-size: 0.875rem;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
}

.primary-button a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

.primary-button:hover {
  background-color: #cf3c02;
}

.button-icon-container {
  width: 20px;
  height: 20px;
}

.hero-section {
  width: 100%;
  height: auto;
  padding-top: 12.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.hero-elements-container {
  width: 650px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 1.5rem;
}

.hero-logo-container {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #ffffff;
}

.hero-logo-container img {
  width: 60px;
  height: 60px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border: 2px solid #888888;
}

.text-and-tags-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 0.75rem;
}

.text-and-tags-container h1 {
  font-size: clamp(2rem, 2vw + 2rem, 2.25rem);
  font-weight: 500;
  color: #ffffff;
  line-height: 120%;
  letter-spacing: -1px;
}

.highlight-1 {
  color: #888888;
}

.tags-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 0.5rem;
}

.tag {
  width: auto;
  height: auto;
  padding: 0.5rem 0.875rem;
  background-color: #1a1d21;
  border: 1.5px dotted #282828;
  border-radius: 50px;
}

.tag p {
  font-size: 0.75rem;
  font-weight: 300;
  color: #c6c4c4;
}

.buttons-container {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
}

.secondary-button {
  height: 48px;
  padding: 0.625rem 1.5rem;
  background-color: #1b2128;
  border: none;
  border-radius: 4rem;
  font-size: 0.875rem;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
}

.secondary-button:hover {
  background-color: #2a3138;
}

.secondary-button a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #2b2b2b;
  margin: 6.25rem 0;
}

.projects-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 2rem;
}

.projects-section h2 {
  font-size: clamp(1.2rem, 1.5vw + 1rem, 1.5rem);
  font-weight: 500;
  color: #ffffff;
}

.projects-list-container {
  width: 900px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3.75rem;
}

.project-card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 1rem;
}

.project-image {
  width: 100%;
  height: 600px;
  background-color: #2b2b2b;
  border-radius: 0.5rem;
}

.project-image img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.project-details {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.project-name {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  row-gap: 0.25rem;
}

.title {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
}

.subtitle {
  font-size: 0.813rem;
  font-weight: 300;
  color: #888888;
}

.action-button {
  height: 48px;
  padding: 0.625rem 1.5rem;
  background-color: #1b2128;
  border: none;
  border-radius: 4rem;
  font-size: 0.875rem;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

.action-button:hover {
  background-color: #2a3138;
}

.testimonial-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}

.testimonial-section h2 {
  font-size: clamp(1.2rem, 1.5vw + 1rem, 1.5rem);
  font-weight: 500;
  color: #ffffff;
}

.testimonial-list-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}

.testimonial-card {
  width: 350px;
  height: auto;
  background-color: #222222;
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 1rem;
}

.testimonial-text {
  font-size: 0.875rem;
  font-weight: 300;
  color: #cccccc;
  line-height: 150%;
}

.image-name-role-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 0.5rem;
}

.profileimage-container {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border-radius: 100px;
}

.name-and-role-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  row-gap: 0.25rem;
}

.name {
  font-size: 0.875rem;
  font-weight: 500;
  color: #ffffff;
}

.role {
  font-size: 0.75rem;
  font-weight: 400;
  color: #888888;
}

.profileimage-container img {
  width: 32px;
  height: 32px;
  border-radius: 100px;
  object-fit: cover;
}

.cta {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-and-button-container {
  width: 700px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  text-align: center;
}

.text-and-button-container h2 {
  font-size: clamp(1.25rem, 2vw + 1.5rem, 2.5rem);
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  line-height: 120%;
}

.highlight-2 {
  font-size: clamp(1rem, 2vw + 1.25rem, 2rem);
  font-weight: 400;
  text-align: center;
  line-height: 120%;
  color: #888888;
}

.footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
}

.footer-elements-container {
  width: 100%;
  height: auto;
  padding: 0 6.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.contact {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  row-gap: 0.5rem;
}

.contact p {
  font-size: 1rem;
  font-weight: 400;
  color: #888888;
}

.icon-and-text {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 0.25rem;
  color: #888888;
}

.email-icon {
  width: 24px;
  height: 24px;
}

.email-icon img {
  width: 24px;
  height: 24px;
}

.email {
  font-size: 1.5rem;
  font-weight: 300;
  color: #888888;
}

.social-media {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  row-gap: 0.5rem;
}

.social-media p {
  font-size: 1rem;
  font-weight: 400;
  color: #888888;
}

.links-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 1.25rem;
  color: #888888;
}

.copyright {
  width: fit-content;
  height: auto;
  font-size: 0.875rem;
  font-weight: 300;
  color: #888888;
}

@media screen and (max-width: 1024px) {
  .header-section {
    padding: 1.5rem 2.25rem;
  }

  .hero-section {
    width: 100%;
    height: auto;
    padding-top: 12.25rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .hero-elements-container {
    width: 550px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1.5rem;
  }

  .text-and-tags-container h1 {
    font-size: clamp(1.5rem, 2vw + 1.75rem, 2rem);
    font-weight: 500;
    color: #ffffff;
    line-height: 120%;
    letter-spacing: -1px;
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: #2b2b2b;
    margin: 4.25rem 0;
  }

  .projects-list-container {
    max-width: 750px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3.75rem;
  }

  .project-card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
  }

  .project-image {
    width: 100%;
    height: 480px;
    background-color: #2b2b2b;
    border-radius: 0.5rem;
  }

  .testimonial-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    padding: 0 2rem;
  }

  .testimonial-section h2 {
    font-size: clamp(1.2rem, 1.5vw + 1rem, 1.5rem);
    font-weight: 500;
    color: #ffffff;
  }

  .testimonial-list-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1.75rem;
    flex-wrap: wrap;
    gap: 1.75rem;
  }

  .testimonial-card {
    width: 350px;
    height: auto;
    background-color: #222222;
    border-radius: 0.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
  }

  .footer-elements-container {
    width: 100%;
    height: auto;
    padding: 0 4.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  .links-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
    color: #888888;
  }
}

@media screen and (max-width: 750px) {
  .header-section {
    padding: 1rem 1rem;
  }

  .hero-section {
    width: 100%;
    height: auto;
    padding-top: 8.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .hero-elements-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1.24rem;
    padding: 0 1rem;
  }

  .text-and-tags-container h1 {
    font-size: clamp(1rem, 2vw + 1.25rem, 1.5rem);
    font-weight: 500;
    color: #ffffff;
    line-height: 130%;
    letter-spacing: -1px;
  }

  .buttons-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 0.75rem;
    flex-wrap: wrap;
    row-gap: 0.75rem;
  }

  .primary-button.hero {
    display: none;
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: #2b2b2b;
    margin: 3.5rem 0;
  }

  .projects-list-container {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2.5rem;
    padding: 0 1rem;
  }

  .project-card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
  }

  .project-image {
    width: 100%;
    height: auto;
    background-color: #2b2b2b;
    border-radius: 0.5rem;
  }

  .testimonial-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.25rem;
    padding: 0 1rem;
  }

  .testimonial-section h2 {
    font-size: clamp(1rem, 1.5vw + 1rem, 1.5rem);
    font-weight: 500;
    color: #ffffff;
  }

  .highlight-2 {
    font-size: clamp(1rem, 1.25vw + 1rem, 1.25rem);
    font-weight: 400;
    text-align: center;
    line-height: 120%;
    color: #888888;
  }

  .testimonial-list-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1.75rem;
    flex-wrap: wrap;
    gap: 1.25rem;
  }

  .testimonial-card {
    width: 100%;
    height: auto;
    background-color: #222222;
    border-radius: 0.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
  }

  .cta {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
  }

  .text-and-button-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.25rem;
    text-align: center;
  }

  .text-and-button-container h2 {
    font-size: clamp(1rem, 2vw + 1rem, 1.25rem);
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    line-height: 140%;
  }

  .footer-elements-container {
    width: 100%;
    height: auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 3.5rem;
  }

  .social-media {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 1rem;
  }

  .links-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1.5rem;
    color: #888888;
  }

  .action-button {
    display: none;
  }

  .right-container .link {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .header-section {
    width: 100%;
    height: auto;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dotted #2b2b2b;
  }

  .hero-section {
    width: 100%;
    height: auto;
    padding-top: 8.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .hero-elements-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1.24rem;
    padding: 0 1rem;
  }

  .text-and-tags-container h1 {
    font-size: clamp(1rem, 2vw + 1.25rem, 1.5rem);
    font-weight: 500;
    color: #ffffff;
    line-height: 130%;
    letter-spacing: -1px;
  }

  .buttons-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 0.75rem;
    flex-wrap: wrap;
    row-gap: 0.75rem;
  }

  .primary-button.hero {
    display: none;
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: #2b2b2b;
    margin: 3.5rem 0;
  }

  .projects-list-container {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2.5rem;
    padding: 0 1rem;
  }

  .project-card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
  }

  .project-image {
    width: 100%;
    height: auto;
    background-color: #2b2b2b;
    border-radius: 0.5rem;
  }

  .testimonial-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.25rem;
    padding: 0 1rem;
  }

  .testimonial-section h2 {
    font-size: clamp(1rem, 1.5vw + 1rem, 1.5rem);
    font-weight: 500;
    color: #ffffff;
  }

  .testimonial-list-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1.75rem;
    flex-wrap: wrap;
    gap: 1.25rem;
  }

  .testimonial-card {
    width: 100%;
    height: auto;
    background-color: #222222;
    border-radius: 0.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
  }

  .cta {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
  }

  .text-and-button-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.25rem;
    text-align: center;
  }

  .text-and-button-container h2 {
    font-size: clamp(1rem, 2vw + 1rem, 1.25rem);
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    line-height: 140%;
  }

  .primary-button.cta {
    display: none;
  }

  .footer-elements-container {
    width: 100%;
    height: auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 3.5rem;
  }

  .social-media {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 1rem;
  }

  .links-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1.5rem;
    color: #888888;
  }

  .action-button {
    display: none;
  }

  .right-container .link {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  .text-and-tags-container h1 {
    font-size: clamp(1rem, 2vw + 1rem, 1.25rem);
    font-weight: 500;
    color: #ffffff;
    line-height: 130%;
    letter-spacing: -1px;
  }

  .buttons-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
    flex-wrap: wrap;
    row-gap: 0.75rem;
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: #2b2b2b;
    margin: 2.5rem 0;
  }

  .projects-list-container {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    padding: 0 1rem;
  }

  .project-card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
  }

  .project-image {
    width: 100%;
    height: auto;
    background-color: #2b2b2b;
    border-radius: 0.5rem;
  }

  .testimonial-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.25rem;
    padding: 0 1rem;
  }

  .testimonial-section h2 {
    font-size: clamp(1rem, 1.5vw + 1rem, 1.25rem);
    font-weight: 500;
    color: #ffffff;
  }

  .testimonial-list-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1.75rem;
    flex-wrap: wrap;
    gap: 1.25rem;
  }

  .testimonial-card {
    width: 100%;
    height: auto;
    background-color: #222222;
    border-radius: 0.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
  }

  .cta {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
  }

  .text-and-button-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.25rem;
    text-align: center;
  }

  .text-and-button-container h2 {
    font-size: clamp(1rem, 2vw + 1rem, 1.25rem);
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    line-height: 140%;
  }

  .footer-elements-container {
    width: 100%;
    height: auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 3.5rem;
  }

  .social-media {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 1rem;
  }

  .links-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1.5rem;
    color: #888888;
  }

  .action-button {
    display: none;
  }

  .right-container .link {
    display: none;
  }
}
